<%- include('./header')%>

    <%- include('./Navbar/navbar')%>

        <div class="container m-auto py-3">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card card-body shadow-sm">
                        <h2>Dashboard</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis impedit, a beatae architecto maxime autem molestias laborum mollitia harum qui deleniti minus magnam ratione ipsum quidem similique dolores odit veritatis sunt. Nobis beatae magnam totam
                            error maxime facere odio incidunt quaerat tempora, commodi quia velit, libero suscipit ipsa, quisquam laboriosam ad voluptatibus ipsam? Similique in quo eius cum dolorem! Sit deserunt asperiores maiores doloremque earum expedita
                            saepe dolorem repellendus cumque magnam itaque delectus soluta praesentium exercitationem corrupti rem qui totam repellat sunt eaque illum, veritatis ipsum beatae nam! Dolorum maxime magnam aliquid praesentium placeat possimus,
                            veritatis et at ipsam eveniet saepe aliquam iusto repellat quisquam quis numquam error beatae quod unde blanditiis. Cupiditate, perspiciatis ab, molestiae placeat quidem et quam non fugit iusto neque modi vel? Temporibus hic
                            dolorem, vel ipsum qui laudantium amet, ipsam voluptatibus debitis in voluptates quisquam explicabo consequuntur quae doloribus laboriosam adipisci porro expedita! Suscipit ratione perferendis natus eligendi repudiandae molestias
                            dolore omnis debitis aliquam nesciunt est dolores tempore, illum, et modi vitae dolorum alias sit labore! Incidunt velit maiores eum cumque iure reprehenderit ut, natus cum rem accusantium aut, provident vero magni non dicta
                            voluptatum, doloremque esse quis exercitationem veniam culpa ad distinctio. Nihil, nobis?
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <%- include('./footer')%>