<%- include('../header')%>
    <%- include('../Navbar/navbar')%>

        <div class="container m-auto">
            <div class="row justify-content-center my-3">
                <div class="col-md-4">
                    <div class="card card-body shadow-sm">
                        <div class="my-2 d-flex wrap-text justify-content-between align-items-center">
                            <span>Students:</span>
                            <span class="badge badge-primary">2345</span>
                        </div>
                        <div class="my-2 d-flex wrap-text justify-content-between align-items-center">
                            <span>Boys:</span>
                            <span class="badge badge-primary">200</span>
                        </div>
                        <div class="my-2 d-flex wrap-text justify-content-between align-items-center">
                            <span>Girls:</span>
                            <span class="badge badge-primary">24</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card card-body shadow-sm">
                        <form action="" method="post">
                            <input type="search" name="search" id="searchText" placeholder="Search..." class="form-control">
                        </form>

                        <div id="results" class="mt-2">
                            <!-- APIs fetching here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            let resutlDom = document.querySelector('#results');

            let output = 'Loading...';

            resutlDom.innerHTML = output;

            SelectAll();

            let searchText = document.querySelector('#searchText')

            searchText.onkeyup = (e) => {
                let txt = e.target.value.trim();

                if (txt !== '' || txt === undefined) {
                    output = ''

                    output = txt;
                    resutlDom.innerHTML = 'searching... ' + output;

                } else {

                    output = '';

                    SelectAll();
                }
            }

            function SelectAll() {
                fetch('http://localhost:7000/students')
                    .then(res => res.json())
                    .then(data => {
                        output = ''
                        output += `
                        <table class="table table-stripe table-sm">
                            <thead>
                                <tr>
                                    <th>First name</th>
                                    <th>Name</th>
                                    <th>Classe</th>
                                    <th>Sexe</th>
                                    <th>Actions</th>
                                </tr>    
                            </thead>
                            <tbody>
                        `
                        data.forEach(item => {
                            output += `
                        <tr>
                            <td>${item.firstName}</td>    
                            <td>${item.name}</td>    
                            <td>${item.classe}</td>    
                            <td>${item.sexe}</td>    
                            <td>
                                <div class="btn-group">
                                    <a href="/students/${item.id}" class="btn btn-sm btn-info">Edit</a>
                                    <a href="/students/${item.id}" class="btn btn-sm btn-danger">Delete</a>
                                </div>
                            </td>    
                        </tr>
                        `
                        });
                        output += `
                        </tbody>
                    </table>`
                        resutlDom.innerHTML = output;
                    })
                    .catch(err => {
                        resutlDom.innerHTML = `<p class="alert alert-warning">The network is down</p>`
                    });
            }
        </script>

        <%- include('../footer')%>